doctype html
html
  head
    meta(charset='utf-8')
    title Weather Zip
    link(rel='stylesheet', href='/css/style.css')
  body
    .box
      h1 Welcome!
      h3 Enter Zip below

      form(method='post', action='/')
        input(name='zip', type'text', placeholder='Enter Zip', autofocus=true)
        button Click here
